Repository NextLevelCourses/haircut-web-laravel, pull requests merged in 2025-06, with the labels that each got.

#10 docs/enhanced-entity-relationship
  eer_diagram/database.mwb
  eer_diagram/database.mwb.bak
Labels: EER-diagram

#12 Production [22 Juni 2025]
  app/Http/Controllers/Controller.php
  app/Http/Controllers/ModulsController.php
  eer_diagram/database.mwb
  eer_diagram/database.mwb.bak
  resources/views/landingpage/footer.blade.php
  resources/views/landingpage/master.blade.php
  resources/views/landingpage/navbar.blade.php
  resources/views/moduls/barberman.blade.php
  resources/views/moduls/carousel.blade.php
  resources/views/moduls/gender.blade.php
  resources/views/moduls/jadwal.blade.php
  resources/views/moduls/konfirmasi.blade.php
  resources/views/moduls/login.blade.php
  resources/views/moduls/register.blade.php
  resources/views/moduls/service.blade.php
  routes/web.php
Labels: Templating Engine, migration-databse, task

#26 migration-database-and-seeder
  database/migrations/2025_06_23_042340_create_roles_table.php
  database/migrations/2025_06_23_052245_create_admins_table.php
  database/migrations/2025_06_23_052247_create_users_table.php
  database/migrations/2025_06_23_053027_create_genders_table.php
  database/migrations/2025_06_23_053042_create_services_table.php
  database/migrations/2025_06_23_054750_create_transactions_table.php
  database/migrations/2025_06_23_054758_create_history_transactions_table.php
  database/migrations/2025_06_23_055004_create_barbermans_table.php
  database/migrations/2025_06_23_056057_create_schedules_table.php
  database/migrations/2025_06_23_083310_create_invoices_table.php
  database/seeders/AccountSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/RolesSeeder.php
  eer_diagram/database.mwb
  eer_diagram/database.mwb.bak
Labels: migration-database, task

#29 Ted landing - Penambahan Google Maps, Kontak, Testimoni, dan Metode Pembayaran di Halaman Booking
  app/Http/Controllers/ModulsController.php
  resources/views/landingpage/footer.blade.php
  resources/views/moduls/barberman.blade.php
  resources/views/moduls/carousel.blade.php
  resources/views/moduls/history.blade.php
  resources/views/moduls/invoice.blade.php
  resources/views/moduls/testimoni.blade.php
  resources/views/moduls/transaction.blade.php
  routes/web.php
Labels: Templating Engine, task
